*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
   
    min-height: 100vh;
}
.section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/images/house2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-main h1{
    color: rgba(255,255,255,0.5);
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
}
nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
nav .menu{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background: #fff;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
}